<div class="row">
    <div class="col-12">
        <div class="contenedor">
            <div class="img">
            </div>
            <div class="text-end">
                <h3 class="">CONTACTO</h3>
            </div>

            <div class="sub " style="padding: 15px;">
                <div class="row">
                    <div class="col-12 col-md-3 col-sm-12">
                        <h2>Empecemos a hacerlo sencillo</h2>
                    </div>
                    <div class="col-12 col-md-7 col-sm-12">
                        <p>Nos emociona impulsar tu transformación digital</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="row fondo">
    <div class="col-12">
        <form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()" autocomplete="off">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xxl-6">
                    <div class="mb-3 col-12">
                        <input type="text" 
                               class="form-control" 
                               placeholder="Nombre y apellidos"
                               formControlName="nombre">
                        <span class="text-danger" *ngIf="validarCampos( 'nombre' )"> El nombre es obligatorio </span>
                    
                    </div>
                    <div class="mb-3 col-12">
                        <input type="email" 
                               class="form-control" 
                               placeholder="Email"
                               formControlName="email">
                        <span class="text-danger" *ngIf="validarCampos( 'email' )"> El Email es obligatorio </span>

                    </div>
                    <div class="mb-3 col-12">
                        <input type="text" 
                               class="form-control" 
                               placeholder="Empresa/Organismo"
                               formControlName="empresa">
                        <span class="text-danger" *ngIf="validarCampos( 'empresa' )">La empresa es obligatoria</span>
                    </div>
                    <div class="mb-3 col-12">
                        <input type="text" 
                               class="form-control" 
                               placeholder="Pais"
                               formControlName="pais">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-3 col-12">
                        <input type="text" 
                               class="form-control" 
                               placeholder="Telefono"
                               formControlName="telefono">
                    </div>
                    <div class="mb-3 col-12 col-sm-12">
                        <label class="form-label">Mensaje</label>
                        <textarea class="form-control" rows="3" formControlName="mensaje"></textarea>
                        <span class="text-danger" *ngIf="validarCampos( 'mensaje' )"> El campo es obligatorio </span>

                      </div>

                      <div class="text-end">
                          <button type="submit" class="btn btn-outline-light">Enviar</button>
                      </div>
                </div>
            </div>

            <div class="mensaje" *ngIf="miFormulario.invalid && miFormulario.touched">
                <span>Uno o más campos tienen un error. Por favor, revísalos e inténtalo de nuevo</span>
            </div>
        </form>
    </div> 
</div>
